SECRET_KEY=django-insecure-railprep-dev-key-change-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
BACKEND_CORS_ORIGINS=["http://localhost:5173", "https://tech-iq-preparation.vercel.app"]

# Database (PostgreSQL)
DB_NAME=railprep
DB_USER=postgres
DB_PASSWORD=Chitti$143
DB_HOST=localhost
DB_PORT=5432

# Redis
REDIS_URL=redis://127.0.0.1:6379/0

# JWT
JWT_ACCESS_TOKEN_LIFETIME=15
JWT_REFRESH_TOKEN_LIFETIME=10080

# Groq
GROQ_API_KEY=your_groq_api_key_here

# Razorpay
RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here

SENDER_EMAIL=your_sender_email_here
# External OTP Service (For Reliable Production Emails)
OTP_SERVICE_URL=your_otp_service_url_here
